<% include header %>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 item">
                <h1 class="display-5 title"> 탐색 페이지 </h1>
                <p class="number">
                    <%= allPagesNumber %><span class="APN plus"></span>
                </p>
            </div>

            <div class="col-lg-4 item">
                <h1 class="display-5 title"> 수식 페이지 </h1>
                <p class="number">
                    <%= formulaPagesNumber %><span class="FPN plus"></span>
                </p>
            </div>

            <div class="col-lg-4 item">
                <h1 class="display-5 title"> 수식 </h1>
                <p class="number">
                    <%= formulasNumber %><span class="FN plus"></span>
                </p>
            </div>
        </div>

        <div class="table-responsive">
            <h1 class="diplay-5 title"> 최근 수식 페이지 </h1>
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th> 페이지 제목 </th>
                        <th> # </th>
                    </tr>
                </thead>

                <tbody>
                    <% for(let i = 0 ; i < recentPages.length ; i++)
                    {
                        let recentPage = recentPages[i];
                    %>
                        <tr>
                            <td>
                                <a href="<%=recentPage.url%>" target="_blank">
                                    <%= recentPage.title %>
                                </a>
                            </td>
                            <td> <%= recentPage.formulasNumber %></td>
                        </tr>
                    <%
                    }%>
                </tbody>
            </table>
        </div>
    </div>
<style>
    div, h1, h2, p {
        font-family: 'Nanum Gothic';
    }

    a {
        color: #cccccc;
    }
    .title {
        text-align: center;
        font-weight: bold;
    }

    .number {
        font-size: 30px;
        text-align: center;
    }

    .container {
        margin-top: 100px;
    }

    .item {
        margin-bottom: 30px;
    }

    .plus {
        color: green;
        font-size: 20px;
    }
</style>

<% include footer %>